/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* STYLING FOR BODY */
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    max-width: 800px;
    min-height: 100vh;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 1);
    display: flex;
    flex-direction: column;
    position: relative;
}

/* WEBKIT SCROLLBAR */
body::-webkit-scrollbar {
    width: 20px;
}

/* WEBKIT SCROLLBAR TRACK */
body::-webkit-scrollbar-track {
    border: 3px solid rgba(0, 0, 0, 0.5);
    border-radius: 3rem;
}

/* WEBKIT SCROLLBAR THUMB */
body::-webkit-scrollbar-thumb {
    background-color: rgba(0, 133, 133, 0.5);
    border-radius: 3rem;
}

/* STYLING HEADINGS */
h1,
h2,
h3 {
    font-weight: 800;
}

/* HEADER */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 1);
    padding: 0.5rem 1rem;
}

/* SITE HEADING */
.site_heading {
    font-size: 1.7em;
}

/* NAV MENU */
.nav_menu {
    list-style-type: none;
}

/* NAV ITEM */
.nav_item {
    display: inline-block;
}

/* NAV LINK ITEMS */
.nav_item_link {
    display: inline-block;
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
    background-color: rgba(123, 255, 235, 1);
    padding: 0.1em 0.4em;
    margin: 0.1em;
}

/* MAIN */
main {
    padding: 0 1rem;
    flex-grow: 1;
    background-color: rgba(0, 0, 0, 0.1);
}

/* FOOTER */
footer {
    font-size: 1em;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 1);
    padding: 0.5rem 1rem;
}

/* SECTIONS */
section {
    margin: 50px 0;
}

/* ARTICLES */
article {
    margin: 5px 0;
}

/* TABLE STYLE START */
table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    overflow-wrap: break-word;
}

thead {
    border: 1px solid rgba(0, 0, 0, 1);
}

tbody {
    border: 1px solid rgba(0, 0, 0, 1);
}

td,
th,
caption {
    border: 1px solid rgba(0, 0, 0, 1);
    padding: 0 0.5em;
}

tfoot {
    font-weight: 600;
}

caption {
    font-style: italic;
    font-weight: 600;
    border-bottom: none;
    text-wrap: wrap;
}

/* TABLE STYLE END */

/* FLOAT CLEAR */
.clearfix {
    clear: both;
}

/* NEWS SECTION */
.news_section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* NEWS SECTION HEADING */
.news_section_heading {
    color: rgba(0, 0, 0, 1);
}

/* NEWS ARTICLE */
.news_article {
    display: block;
}

/* NEWS ARTICLE HEADING */
.news_article_heading {
    color: rgba(255, 57, 255, 1);
    margin-bottom: 1rem;
}

/* NEWS ARTICLE FIGURE */
.news_article_figure {
    float: left;
    width: 100%;
    max-width: 250px;
    margin-right: 1em;
    background-color: rgba(255, 255, 0, 0.5);
    text-align: center;
}

/* NEWS ARTICLE IMG */
.news_article_image {
    width: 100%;
    height: auto;
}

/* NEWS ARTICLE FIGCAPTION */
.news_article_figcaption {
    font-size: 0.8em;
    color: rgba(0, 0, 255, 1);
}

/* NEWS ARTICLE DESCRIPTION */
.news_article_description {
    font-size: 1em;
}

/* NEWS READ ALL LINK TEXT */
.news_read_all_link {
    text-decoration: none;
}

.news_read_all_link::before {
    content: '\1F449';
}

/* KEEP TEXT TOGETHER */
.nosplit {
    text-wrap: nowrap;
}

/* SPORTS PAGE STYLES */
.news_article_figure_in {
    max-width: 400px;
}

/* TOURNAMENT STATS SECTION */
.tournament_stats_section {
    margin-bottom: 0;
}

/* TOURNAMENT STATS TABLE */
.tournament_stats_table {
    text-align: center;
}

/* SPORTS PAGE STYLES END */

/* WEATHER AND POLITICS PAGE STYLE START */
.news_article_figure_in_weather, .news_article_figure_in_politics {
    max-width: 500px;
}
/* WEATHER AND POLITICS PAGE STYLE END */

/* ABOUT US PAGE STYLE START */
.about_us {
    max-width: 70%;
}

.aside_call_advert {
    position: absolute;
    top: 25vh;
    right: 0;
    max-width: 30%;
   max-height: 300px;
   overflow-y: scroll;
   background-color: rgba(99, 199, 255, 1);
   padding: 0.3em;
   overflow-wrap: break-word;
}

.aside_call_advert::-webkit-scrollbar {
    width: 1rem;
}

.aside_call_advert::-webkit-scrollbar-track {
    border: 2px solid rgba(255, 57, 255, 1);
    border-radius: 3rem;
}

.aside_call_advert::-webkit-scrollbar-thumb {
    width: 1rem;
    background-color: rgba(255, 255, 0, 0.5);
}
/* ABOUT US PAGE STYLE END */
/* CONTACT PAGE START */
.contact_form {
    width: 100%;
    max-width: 500px;
}

form {
    /* padding: 1rem; */
}

fieldset {
    border-color: blueviolet;
    border-radius: 5px;
}

label {
    font-weight: 600;
}

input, textarea {
    width: 100%;
    font: inherit;
    border-color: rgba(0, 0, 0, 1);
    border-radius: 5px;
    padding: 0.3em;
    margin-bottom: 1em;
}

fieldset {
    padding: 1rem;
}

button {
    padding: 0.3rem 0.7rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: rgba(255, 255, 255, 1);
}

.form_action_buttons {
    margin-top: 10px;
    text-align: right;
}

.submit_button {
    background-color: rgba(0, 0, 255, 1);
}

.reset_button {
    background-color: rgba(0, 0, 0, 0.5);
}

/* CONTACT PAGE END */